/* PHASE 1: Header */
/*.header {
  font-family: "Lato";
  background-color: #f00;
  display: block;
}*/

.header-nav {
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
}

.header-logo {
  float: left;
  font-weight: 700;
  font-size: 10;
}

.header-logo a {
  display: block;
  padding: 10px 20px 11px 20px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
}

.header-list {
  float: right;
  display: block;
}

.header-list li {
  float: left;
}

.header-list a {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 20px 11px 20px;
  border-left-style: solid;
  border-left-width: 1px;
}

.header-list > li:last-child {
  border-right: 1px solid;
}

.header-list li:hover {
  background-color: black;
}

.header-logo:hover {
  background-color: black;
}

.header {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
  background-color: #f00;
  position: relative;
  z-index: 1;
}
