/* PHASE 4: Footer */

.footer-logo {
  padding-top: 20px;
  padding-left: 19px;
  float: left;
  font-size: 14px;
  color: #aaa;
}

.footer-list {
  float: right;
  display: block;
}

.footer-list li {
  float: left;
  padding: 20px 10px 11px 10px;
}

.footer-list a {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 14px;
  color: #aaa;
}

.footer-list a:hover {
  color: #aaa;
}

.footer {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 55px;
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
  background-color: #fff;
  position: relative;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  border-color: #ccc;
}
